
.row{
  padding:3%;
  margin:auto;
}

@media (max-width: 978px) {
  .row {
    padding:8%;
    margin:auto;
  }}

.head{
  background-image:url("src\assets\navimg.jpg");
  width: 100%;
  
}


@media (max-width: 978px) {
  .head {
    width: 100%;
  }}
  

  @media (min-width:320px) and (max-width:321px) {
    .head {
      width: 340px;}
  }
    
  @media (min-width:280px) and (max-width:281px) {
    .head {
      width: 340px;}
  }
    
 

nav{
    padding-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    
 }

 .searchBox{
  margin:auto;
 padding-bottom: 10px; 
  width: 300px;
  position: relative; 
 }

 
 span {
  font-size: 18px;
  color:blue;
  position: absolute;
  padding: 9px;
 
} 

 input{
  padding: 12px 40px;
 }

  