.header{
    display: inline-flex;
   padding-top: 20px;
}

nav{
  
  margin-left: 4px;
   margin-right: 4px;  
}

.fa {
    cursor: pointer;
   color: white;
   padding:1px;
  
}

span :hover{
  color: yellow;
}


i:hover{
  color: #1D7CF2;
}

h3{
    color:white;
    padding-left: 9px;
}


.toggle{
    position: absolute;
    right: 10px;
    top:3px;
}



span{
    color:white;
    cursor: pointer;
    font-size: 14px;
}

.light:hover,.dark:hover{
  color: yellow;
}